<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>

    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="dropdown">
          <a routerLink="/dashboard">仪表盘</a>
        </li>
        <li class="dropdown">
          <a routerLink="/heroes">英雄列表</a>
        </li>
        <li class="dropdown">
          <a routerLink="/input">用户输入</a>
        </li>
        <li class="dropdown">
          <a routerLink="/form">表单</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
